html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: rgb(167, 139, 104);
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

header h1 {
    font-size: 1.5rem;
}

.details {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

#cart-button {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.7rem;
    margin-right: 2.5rem;
    border-radius: 0.5rem;
}

#home-button {
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 9.5rem;
    height: 7rem;
}

.cart {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

button:hover {
    background-color: #555;
}

.btn-container {
    display: flex;
    width: 100%;
}

.imgCont {
    width: 12.5rem;
    height: 12.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #fff;
    border-radius: 0.5;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 0 0.625rem 1.25rem;
    width: calc(20% - 1.25rem);
    max-width: 14.688rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card img {
    display: block;
    margin: 0 auto;
}

.card h3 {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
    margin-left: 0.625rem;
}

.card h4 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin-bottom: 0.625rem;
    margin-left: 0.625rem;
}

.card p {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 0.625rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    text-align: left;
}

.modal h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.modal p {
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

.modal button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: left;
}

.modal button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

#cart-content {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0.2rem; 
    width: 25rem; 
    margin-top: 0.7rem;
  }

#home-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#cart-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.cartMenu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    margin-left: -42.5rem;
}

.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    background-image: linear-gradient(135deg, rgb(155, 124, 88), rgb(119, 95, 64));
    height: 2.5rem;
    display: none;
    margin-left: 40rem;
    width: 16.4rem;
    margin-top: -170rem;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 8.5rem;
}

.remove-item {
  background-color: grey;
    color: #fff;
    border: none;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.2rem;
    margin-right: 2.5rem;
    border-radius: 7rem;
    margin-bottom: 1.2rem;
    
    
}

#buy-button {
  background-color: grey;
    color: #fff;
    border: none;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.7rem;
    margin-right: 2.5rem;
    border-radius: 0.5rem;
}

#buy-button:hover {
  background-color: #555;
}

#totalprice{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px; 
    width: 25rem;
}